<div>
    <table *ngIf="dataLoaded==true" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Müşteri İsmi</th>
                <th>Müşteri Soyİsmi</th>
                <th>Araç Markası</th>
                <th>Kiralama Tarihi</th>
                <th>Teslim Tarihi</th>
            </tr>
        </thead>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.id}}</td>
            <td>{{rental.firstName}}</td>
            <td>{{rental.lastname}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
        </tr>
    </table>
</div>